services:
  database:
    image: mysql:8.0
    container_name: devsecops_lab_database
    volumes:
      - db_data:/var/lib/mysql
    environment:
      MYSQL_DATABASE: laravel_devsecops_lab
      MYSQL_ALLOW_EMPTY_PASSWORD: yes
    ports:
      - 3306:3306

volumes:
  db_data:
